<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mongoSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="languageStrings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <mongoSettings>
    <add key="server" value="SERVER ADDRESS OR DNS (WITHOUT PORT NUMBER)" />
    <add key="port" value="PORT NUMBER" />
    <add key="user" value="DATABASE USERNAME CREDENTIAL" />
    <add key="password" value="DATABASE PASSWORD CREDENTIAL" />
    <add key="database" value="DATABASE NAME" />
    <add key="apps-collection" value="CURRENT COLLECTION NAME" />
    <add key="reviews-collection" value="NAME FOR THE COLLECTION OF REVIEWS" />
    <add key="queued-apps-collection" value="NAME OF THE COLLECTION OF QUEUED APPS" />
    <add key="reviewers-collection" value="NAME OF THE COLLECTION OF REVIEWERS" />
    <add key="auth-db" value="AUTHENTICATION DATABASE NAME" />
  </mongoSettings>

  <languageStrings>
    <add key="chosen-language" value="en" />
    <add key="en" value="No results for your search" />
    <add key="pt-br" value="Nenhum resultado para sua pesquisa" />
  </languageStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
